@font-face {
	font-family: 'ReformaGrotesk';
	src: url('./fonts/ReformaGroteskLightC.eot');
	src: local('ReformaGroteskLightC'),
		url('ReformaGroteskLightC.eot?#iefix') format('embedded-opentype'),
		url('./fonts/ReformaGroteskLightC.woff') format('woff'),
		url('./fonts/ReformaGroteskLightC.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ReformaGrotesk';
	src: url('./fonts/ReformaGroteskMediumC.eot');
	src: local('ReformaGroteskMediumC'),
		url('ReformaGroteskMediumC.eot?#iefix') format('embedded-opentype'),
		url('./fonts/ReformaGroteskMediumC.woff') format('woff'),
		url('./fonts/ReformaGroteskMediumC.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'ReformaGrotesk';
	src: url('./fonts/ReformaGroteskDemiC.eot');
	src: local('ReformaGroteskDemiC'),
		url('ReformaGroteskDemiC.eot?#iefix') format('embedded-opentype'),
		url('./fonts/ReformaGroteskDemiC.woff') format('woff'),
		url('./fonts/ReformaGroteskDemiC.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'ReformaGrotesk';
	src: url('./fonts/ReformaGroteskBoldC.eot');
	src: local('ReformaGroteskBoldC'),
		url('ReformaGroteskBoldC.eot?#iefix') format('embedded-opentype'),
		url('./fonts/ReformaGroteskBoldC.woff') format('woff'),
		url('./fonts/ReformaGroteskBoldC.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
