.contacts {
    padding: 0 20px;
    max-width: 636px;
    margin: 0 auto 100px;

    &__title {
        @include text($font, 600, 52px, 140%, $color-white);
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    &__rhombus-line {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 40px 0;
    }

    &__forms {
    }

    &__form {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 24px;
    }

    input {
        @include text($font, 600, 16px, 140%, $color-white);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background: $color-container;
        border: 1px solid $color-border;
        padding: 15px 0 10px 25px;
        outline: none;
        width: 100%;
    }

    input::placeholder {
        @include text($font, 600, 16px, 140%, $color-border);
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    textarea {
        @include text($font, 600, 16px, 140%, $color-white);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        width: 100%;
        max-height: 150px;
        min-height: 150px;
        background: $color-container;
        border: 1px solid $color-border;
        padding: 15px 0 10px 25px;
        outline: none;
        resize: vertical;
    }

    textarea::placeholder {
        @include text($font, 600, 16px, 140%, $color-border);
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    input:focus,
    textarea:focus {
        border: 1px solid $color-primary;
    }

    &__name {
        width: 100%;
    }

    &__phone {
        width: 100%;
    }

    &__main {
    }

    &__textarea {
        width: 100%;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        
    }

    &__social {
        width: 40px;
        height: 40px;
        padding: 10px;
        border: 1px solid $color-border;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        @include mobile {
            gap: 20px;
        }
    }

    &__btn {
        @include text($font, 600, 24px, 140%, $color-white);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        @include mobile {
            max-height: 60px;
        }
    }

    &__block {
        
    }

    &__adress {
        display: flex;
        align-items: center;
        gap: 10px;
        @include text($font, 600, 16px, 140%, $color-white);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 13px;
    }

    &__wrapper {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        @include mobile {
            flex-direction: column;
            gap: 13px;
        }
    }

    &__phone-number {
        display: flex;
        align-items: center;
        gap: 10px;
        @include text($font, 600, 16px, 140%, $color-white);
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    &__email {
        display: flex;
        align-items: center;
        gap: 10px;
        @include text($font, 600, 16px, 140%, $color-white);
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
}



