.services {
    margin-bottom: 180px;
    @include tablet {
        margin-bottom: 100px;
    }
    &__title {
        @include text($font, 600, 52px, 140%, $color-white);
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    &__rhombus-line {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-bottom: 60px;
    }

    &__btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        margin-bottom: 80px;
        @include mobile {
            gap: 20px;
        }
    }

    &__btn-primary {
    }

    &__a {
        @include text($font, 600, 32px, 140%, $color-white);
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    &__main {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 24px;
        @include tablet {
            grid-template-columns: repeat(2, auto);
        }
        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        padding: 80px 40px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $color-border;
        @include desktop-small {
            padding: 60px 20px 30px;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        @include mobile {
            margin-top: 10px;
        }
    }

    &__subtitle {
        @include text($font, 600, 24px, 140%, $color-white);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        white-space: nowrap;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    &__desc {
        @include text($font, 600, 16px, 140%, $color-white);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
        flex: 1 1 auto;
        margin-bottom: 25px;
    }

    &__btn-secondary {
    }

    &__link {
        @include text($font, 600, 18px, 140%, $color-white);
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
}
