.slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 180px;
    @include tablet-small {
        margin-bottom: 100px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            display: block;
            top: 75%;
            left: 7%;
            width: 85%;
            height: 18%;
            background: $color-primary;
            z-index: 1;
        }
    }

    &__desc {
        @include text($font, 600, 18px, 140%, $color-white);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
        max-width: 286px;
        z-index: 2;
    }

    img {
    }
}
